body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


.add-nav a{
  color: gold;
}

.add-nav a:hover {
  color: black;
}

.backg {
  background: rgb(0,0,0);
  background: linear-gradient(318deg, rgba(0,0,0,0.8491771708683473) 0%, rgba(253,187,45,1) 100%);
}