<div>

<h1>Todas las peliculas</h1>

<div class="list-group">

    {{#each allMovies}}
    <a href="/movies/{{this._id}}" class="list-group-item list-group-item-action">
        
            {{this.title}}
        
    </a>
    {{/each}}
</div>




</div>